<!--/*--><root><![CDATA[<!--*/-->
body {
    padding-left: 15%;
    padding-right: 15%;
}

footer {
    text-align: center;
}

h1 {
    margin-top: 40px;
}

h2 {
    margin-top: 30px;
}

h2 small {
    color: #555;
}

.divider {
    margin-top: 0;
    margin-bottom: 0;
}

.lead {
    margin-top: 15px;
}

td:first-letter {
    text-transform: capitalize;
}

.red {
    background-color: #8b0000;
    color: white;
}

.text-red {
    color: #8b0000;
}
<!--/*-->]]></root><!--*/-->
